parameters:
	level: max
	phpVersion: 80500
	paths:
		- src
	bootstrapFiles:
		- vendor/autoload.php
		- .vendor-bin/easycs/vendor/symplify/easy-coding-standard/vendor/autoload.php
includes:
	- .vendor-bin/phpstan/vendor/phpstan/phpstan/conf/bleedingEdge.neon
